<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87223649270-fd6h2ccinqpsumj5sn6e5ou49csjt7ou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87223649270-fd6h2ccinqpsumj5sn6e5ou49csjt7ou</string>
	<key>API_KEY</key>
	<string>AIzaSyCFBLWyaOQ4692-S8AASyEzLCFiHywNikQ</string>
	<key>GCM_SENDER_ID</key>
	<string>87223649270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gadgetoflife.easyquote</string>
	<key>PROJECT_ID</key>
	<string>easyquote-c68a0</string>
	<key>STORAGE_BUCKET</key>
	<string>easyquote-c68a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87223649270:ios:46ecae6cc77921eb1cfdd7</string>
</dict>
</plist>